<footer class="footer">
  <small>
    Task Management
  </small>
  <nav id="footer-nav">
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Log in", login_path %></li>
    </ul>
  </nav>
</footer>